/* for figures on gallery page */

/* add: borders with color, style, thickness */
/* border radius, padding, margins, background color */
figure {
    padding: 3rem;
    margin-top: 10px;
    background-color: #D8BFD8;
    box-sizing: border-box;
}

/* float rule to float gallery in rows 
images must be smaller than width of the page
images and related content should  be grouped into containers
clear the floats*/

.imgP {
    /* width: 150px; */
    float: left;
}

/* img {
    float: left;
} */

.container {
    float: left;
    width: 35%;
}
/* 3rd/4th images keep popping out in different window sizes and I have no idea why! */

/* .container:after {
    content: " ";
    display: block;
    clear: both;
} */

.bigContainer {
    border-color: gray;
    border-style: groove;
    border-width: 2px;
    border-radius: 10px 30px;
    float: left;
    width: 100%;
}

/* fix nav menu to top of page using fixed or sticky */
/* will do this in style.css */