/* 
-add a keyframe animation
-add a social navbar with 4 social icons
 */

body {
    font-family: Avenir, Geneva, Calibri, sans-serif;
    color: #000066;
    text-align: justify;
    background: linear-gradient(to right, #A7BFE8, #6190E8); 

}

p {
    padding: 1.5rem;
    text-indent: 3rem;
}

h3.footer {
    font-size: 1rem;
    color: grey;
}

a:link {
    color: #3535C4;
    font-weight: 600;
    text-decoration: none;
}

a:visited {
    color: #691269;
}

a:hover {
    color: plum;
}

/* add focus, hover, active pseduoclasses for a */
a:focus, a:hover {
    background-color: aliceblue;
}

a:active {
    color: #AD4B4B;
}

#noIndent {
    text-indent: none;
}

/* so the navbar doesn't cover page titles */
header {
    padding-top: 50px;
}

/* default styles for h1-h6 */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Cambira, Cochin, serif;
}

#showsList {
    list-style-type: square;
    list-style-position: inside;
    text-indent: 3.5rem;
}

#awardsList {
    list-style-type: square;
    list-style-position: inside;
}

dt {
    margin-top: 1.5rem;
    font-weight: bold;
    /* font-size: 1.25rem; */
}

dd {
    margin-bottom: 2rem;
    padding-right: 2rem;
}

hr {
    border-color: #691269;
    border-width: 2px;
}

#navLinks {
    list-style-type: none;
}

.navs {
    float: left;
    padding: 10px;
    transition: 2s;
}

/* transition property */
li.navs:hover {
    font-size: larger;
}

nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #A7BFE8;
    width: 100%;
}

/* fun w/flexbox */

main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: stretch; 
    align-content: flex-start;
}

/* animation */
@keyframes test {
    from {background-color: aliceblue;}
    to {background-color: cadetblue;}
}

aside {
    flex: 0 1 15%;
    order: 0;
    align-self: flex-start;
    background-color: aliceblue;
    animation-name: test;
    animation-duration: 4s;
}

/* media queries */

@media screen and ( max-width: 1024px) {
    /* body { background-color: chartreuse; } */
    main { display: flex; flex-direction: column;}
    aside { max-width: 75%; align-self: center; }
    figure { align-self: auto; padding: 0rem; }
    .container { width: 100%; display: block; }    
}

@media screen and ( max-width: 768px ) {
    /* body { background-color: tan; } */
    p { align-content: left; }
    h1, h2, h3 { text-align: center; }
    td { text-align: left; }
    img { align-content: flex-start; width: fit-content;}
    .container { float: none; justify-self: left; }
}

@media screen and ( max-width: 480px ) {
    /* body { background-color: orange; } */
    aside { overflow: hidden; }
}