/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } */

body {
    font-family: Avenir, Geneva, Calibri, sans-serif;
    color: #000066;
    text-align: justify;
    background-color: #e6e6ff;
}

p {
    padding: 1.5rem;
    text-indent: 3rem;
}

h3.footer {
    font-size: 1rem;
    color: grey;
}

a:link {
    color: #3535C4;
    font-weight: 600;
    text-decoration: none;
}

a:visited {
    color: #691269;
}

a:hover {
    color: #AD4B4B;
}

/* add focus, hover, active pseduoclasses for a */
a:focus, a:hover {
    background-color: aliceblue;
}

a:active {
    color: #AD4B4B;
}

#noIndent {
    text-indent: none;
}

/* so the navbar doesn't cover page titles */
header {
    padding-top: 50px;
}

/* default styles for h1-h6 */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Cambira, Cochin, serif;
}

#showsList {
    list-style-type: square;
    list-style-position: inside;
    text-indent: 3.5rem;
}

#awardsList {
    list-style-type: square;
    list-style-position: inside;
}
/* style for at least 1 id */

dt {
    margin-top: 1.5rem;
    font-weight: bold;
    /* font-size: 1.25rem; */
}

dd {
    margin-bottom: 2rem;
    padding-right: 2rem;
}

hr {
    border-color: #691269;
    border-width: 2px;
}

#navLinks {
    list-style-type: none;
}

.navs {
    float: left;
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: lavender;
    width: 100%;
}

/* fun w/flexbox */

main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: stretch; 
    align-content: flex-start;
}

aside {
    flex: 0 1 15%;
    order: 0;
    align-self: flex-start;
    background-color: aliceblue;
}

/* media queries */

@media screen and ( max-width: 1024px) {
    body { background-color: chartreuse; }
    main { display: flex; flex-direction: column;}
    aside { max-width: 75%; }    
}

@media screen and ( max-width: 768px ) {
    body { background-color: tan; }
    p { align-content: center; }
}

@media screen and ( max-width: 480px ) {
    body { background-color: orange; }
}