body {
    font-family: Avenir, Geneva, Calibri, sans-serif;
    color: #000066;
    text-align: justify;
    background-color: #e6e6ff;
}

p {
    padding: 1.5rem;
    text-indent: 3rem;
}
/* style for at least one class */

h3.footer {
    font-size: 1rem;
    color: grey;
}

a:link {
    color: #3535C4;
    font-weight: 600;
    text-decoration: none;
}

a:visited {
    color: #691269;
}

a:hover {
    color: #AD4B4B;
}

/* add focus, hover, active pseduoclasses for a */
a:focus, a:hover {
    background-color: aliceblue;
}

a:active {
    color: #AD4B4B;
}

#noIndent {
    text-indent: none;
}

/* default styles for h1-h6 */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Cambira, Cochin, serif;
}

#showsList {
    list-style-type: square;
    list-style-position: inside;
    text-indent: 3.5rem;
}

#awardsList {
    list-style-type: square;
    list-style-position: inside;
}
/* style for at least 1 id */

dt {
    margin-top: 1.5rem;
    font-weight: bold;
    /* font-size: 1.25rem; */
}

dd {
    margin-bottom: 2rem;
    padding-right: 2rem;
}

hr {
    border-color: #691269;
    border-width: 2px;
}