:root {
    --color1: #2a6592;
    --color2: #8ec3eb;
    --color3: #7e9a9a;
    --color4: #db9833;
    --light: #f6d8ac;
    --dark: #000000;
}

body {
    background: var(--color2);
}

nav {
    background-color: var(--color1);
}

h1, h2, h3 {
    color: var(--color3);
    text-shadow: 2px 2px 5px var(--dark)
}

p {
    color: var(--dark);
}

a:link {
    color: var(--dark);
}

a:visited {
    color: var(--light);
}

.container {
    background-color: var(--color4);
}