:root {
    --color1: #F7CAC9;
    --color2: #92A8D1;
    --color3: #5B5EA6;
    --color4: #D65076;
    --color5: #955251;
    --light: #DFCFBE;
    --dark: #34568B;
}

body {
    background: var(--color2);
}

nav {
    background-color: var(--light);
}

h1, h2, h3 {
    color: var(--color3);
    text-shadow: 2px 2px 5px var(--dark)
}

p {
    color: var(--dark);
}

a:link {
    color: var(--dark);
}

a:visited {
    color: var(--color5);
}

a:focus, a:hover {
    background-color: var(--color1);
}

hr {
    background-color: var(--color5);
}